.Main{
    padding: 50px;
}

.input{
    margin-left: 20px;
    margin-right: 20px;
}

h2{
    margin-top: 50px;
}

table, td, th {
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    width: 200px;
}

.loader {
    display: inline-block;
    vertical-align: middle;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*assignment 2*/

.assignment-section{
    margin-bottom: 100px;
}

.row{
    display: flex;
}
.col{
    width: 50%;
}

.data{
    margin-top: 1em;
    margin-bottom: 1em;
}
.data span{
    margin-right: 30px;
}